name: SportDate Pipeline

on:
  pull_request:
    branches: [ "develop", "main" ]  # Build/test before approval

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn -B clean package -DskipTests
      - name: Upload JAR Artifact
        uses: actions/upload-artifact@v4
        with:
         name: maven-jar
         path: target/*.jar
         retention-days: 1

  docker-build:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v5
      - name: Download JAR Artifact
        uses: actions/download-artifact@v4
        with:
          name: maven-jar
          path: target/
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/sport-date:${{ github.sha }} .
          docker push ${{ secrets.DOCKER_USERNAME }}/sport-date:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: docker-build

    steps:
      - name: Deploy to Production EC2 (Docker Hub)
        uses: appleboy/ssh-action@v1.2.3
        env:
              DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
              IMAGE_TAG: ${{ github.sha }}
              PROFILE: prod
        with:
              host: ${{ secrets.EC2_PROD_HOST }}          # e.g. ec2-xx-xx-xx-xx.eu-west-1.compute.amazonaws.com
              username: ${{ secrets.EC2_PROD_USER }}      # usually "ubuntu" on Ubuntu AMI
              key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}     # full content of your .pem file
              port: 22
              script: |
                # 1. Login to Docker Hub
                echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
                
                # 2. Pull the new image
                docker pull ${{ env.DOCKER_USERNAME }}/sport-date:${{ env.IMAGE_TAG }}
                
                # 3. Stop & remove old container (if running)
                docker stop sport-date-prod || true
                docker rm sport-date-prod || true
                
                # 4. Run the new version
                docker run -d \
                  --name sport-date-prod \
                  --restart unless-stopped \
                  -p 8080:8080 \
                  -e SPRING_PROFILES_ACTIVE=${{ env.PROFILE }} \
                  ${{ env.DOCKER_USERNAME }}/sport-date:${{ env.IMAGE_TAG }}
                
                # 5. Cleanup old unused images
                docker image prune -f
